/*
  STYLE GUIDE STYLING
  Seal Marina Style Editing - For CSS BASICS
*/


/* MODIFICATION #1 - CHANGE DEFAULT FONT */

@font-face {
  font-family:"Metropolis-Regular";
  src: url("../fonts/Metropolis-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"Metropolis-Bold";
  src: url("../fonts/Metropolis-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


body {
  font-size: 18px;
  line-height: 20px;
  font-family: 'Metropolis-Regular', sans-serif;
}

.Element_Header {
  text-align: center;
  font-size: 26px;
  line-height: 10px;
  font-family: 'Metropolis-Bold';
}

.element_subheader {
  text-align: center;
  font-size: 18px;
  line-height: 10px;
  font-family: 'Metropolis-Regular';
}



/* MODIFICATION #2 - ADD SPACE BETWEEN SECTION ELEMENTS */

.element {
  margin-top: 8rem;
                             /* Adding border with element class since borders should
                             only be with specified element sections */
  border-top-style: solid;
  border-top-width: 0.15rem;
  border-top-color: black;
}



 /* MODIFICATION #3 - HOVER AND FOCUS (IN-TEXT LINK) */

  nav{
    margin: auto;
  }

  nav a {
    box-shadow: inset 0 0 0 0 #256D85;
    color: #256D85;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
                              /* Sliding element referenced from 6 creative ideas
                              for CSS Link Hover */
  nav a:hover {
    box-shadow: inset 450px 0 0 0 #8FE3CF;
    color: white;
  }





 /* MODIFICATION #4 - HOVER AND FOCUS (IN-IMAGE LINK) */

 .seal_image_container {
   position: relative;
   width: 25%;
 }

.seal_image {
  display: block;
  width: 100%;
  height: auto;
}
                              /* Animated CSS referenced directly from  W3Schools tutorial
                              on fade in overlay */
.seal_image_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #8FE3CF;
}

 .seal_image_overlay:hover {
  opacity: 0.8;
}

.seal_image_text {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



 /* MODIFICATION #5 - SHORTEN DEFAULT LENGTH OF <p> ELEMENT */

.seal_description {
   max-width: 700px;    /* max-width perserves responsive text in the marina description*/
}



 /* MODIFICATION #6 - STYLING OF <input> AND <label> ELEMENTS  */
  /*Sourced from Shay Howe's Login Screen Example from Building Forms */
/* Used for all forms on the site */

/* UPDATE - New redesign sourced from "Sign Up Form HTML CSS" Tutorial for form organization */

.form {
  margin: auto;
  border: 1px solid #07293E;
  border-radius: 5px;
  font: 16px 'Metropolis-Regular', sans-serif;
  overflow: hidden;
  width: 400px;
  background: linear-gradient(#fff, #8FE3CF);   /*Gradient from Shay Howe's login screen example from Building Forms */
}

.form_input {
  border: 3px solid #07293E;
  border-radius: 0.5rem;
}

.form_input:hover {
  border-color: #8FE3CF;
}

.form_input:focus {     /* Changes text colour on text input bars */
  border: 4px solid #002B5B;
}

.form_button {
background: linear-gradient(#2B4865, #002B5B);
border: 0;
color: #fff;
cursor: pointer;
font-weight: bold;
float: left;
padding: 8px 16px;
margin-left: 8px;
}

.form_button:hover {
  background: #8FE3CF;
}

.form_button:focus {
  background: #256D85;
}



fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}








/* Styling for the text label and inputs */
.account-info {
  padding: 20px 20px 0px 20px;
}

.account-info label {
  color: #256D85;
  font-size: 18px;
  display: block;

  font-weight: bold;
  margin-bottom: 10px;
}

.account-info input {
  background: #ff3424;


  color: #07293E;
  padding: 4px;
  margin-top: 6px;
  width: 100%;
}



.account-action {
  background: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  padding: 20px;
}

.account-action .button {


}



.account-action label {
  color: #7c7c80;
  font-size: 18px;
  float: left;
  margin: 20px 0 0 20px;
}

.margin-control {  /* SET SPECIFICALLY FOR ELEMENT 5, ELEMENT 12, AND ELEMENT 13 */
 font-size: 16px;
 border: 0;
 margin-left: 20px;
 margin-bottom: 10px;
 padding: 0;
}

.text-control {
  font-size: 16px;
  max-width: 320px;
  padding-bottom: 15px;
}

.bold-text-control {
  font-weight: bold;
  font-size: 16px;
  max-width: 320px;
  padding-bottom: 15px;
  padding-top: 15px;
}







code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}





/*
  ADDITIONAL EXPLORATION - STYLING NAVIGATION HEADER
      Referenced "How To Make A Website Header Using HTML And CSS" video
*/


.header{
  height: 100vh;
  width: 100%;
  padding: 0 0%;
  position: relative;
}

nav{
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blepi_logo{
  width: 140px;
}



.header_background{
  background-color: #ADB5BD;
  filter: blur(4px);
  width: auto;

}



.navigation_links{
  padding: 28px 0;
}

.navigation_background{
  height: 650;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}



.navigation_links li{
  display: inline-block;
  margin: 0 15px

}

.navigation_links li a{  /* Default state of the navigation link */
  text-decoration: none;
  color: #256D85;
  padding: 5px 0;
  position: relative;

}

.navigation_links li a::after{  /* Underline below each navigation link header */
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.navigation_links li a:hover {
  box-shadow: inset 300px 0 0 0 #2ec4b6;
  color: white;
}

.page_title{
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  width: 90%;
  max-width: 900px;
  transform: translate(-50%, -50%);
  color: #256D85;
}

.page_title h1{
  font-size: 43px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}

.page_title h2{
  line-height: 30px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}



/*
  ADDITIONAL EXPLORATION - ADDING FRONT PAGE IMAGES + DESCRIPTION
      Referenced "How to Create an Image Grid Gallery" video
*/

.image_grid {
  --gap: 30px;
  --col_count: 3;
  --row_height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--col_count), 1fr);
  grid-auto-rows: var(--row_height);
  gap: var(--gap);
}

.image_grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_grid_element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .image_grid{
    --col_count: 2;
    --row_height: 200px;
  }
}

.about_the_resort_title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-top: 40px;
  max-width: 465px;
  font-size: 36px;
  line-height: 10px;
  font-family: 'Metropolis-Bold';
}

.about_the_resort_description {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  max-width: 1200px;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  font-family: 'Metropolis-Regular', sans-serif;
}




/*
 COLOUR AND FONT SECTION STYLIZING
*/

.colour_labels {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.primary_color_square {
  height: 220px;
  width: 220px;
  background-color: #07293E;
  margin: auto;
}

.secondary_color_square {
  height: 220px;
  width: 220px;
  background-color: #256D85;
  margin: auto;
}

.hover_color_square {
  height: 220px;
  width: 220px;
  background-color: #8FE3CF;
  margin: auto;
}

.button_color_square_1 {
  height: 220px;
  width: 220px;
  background-color: #2B4865;
  margin: auto;
}


.button_color_container {  /* Used CSS grid from "Top 5 Ways To Display Two Div Side By Side Using CSS" tutorial */
  --gap: 0px;
  --col_count: 2;
  --row_height: 220px;

  display: grid;
  grid-template-columns: 110px 110px;
  grid-auto-rows: var(--row_height);
  padding-left: 20px;
  margin: auto;
}







.metropolis_bold_sample_font {
  font-size: 18px;
  line-height: 20px;
  font-family: 'Metropolis-Bold';
}

.metropolis_regular_sample_font{
  font-size: 18px;
  line-height: 20px;
  font-family: 'Metropolis-Regular', sans-serif;
}


/* Colour And Font Section - 3 Column Grid for colours */
.colourstyle_grid {
  --gap: 30px;
  --col_count: 4;
  --row_height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--col_count), 1fr);
  grid-auto-rows: var(--row_height);
  gap: var(--gap);
}

.colourstyle_grid_element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.colourstyle_container {   /* Used "HOW TO - Responsive Form" tutorial from W3schools */
  padding: 20px;
  margin: auto;
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 16px 'Inter', sans-serif;
  overflow: hidden;
  width: 1200px;
  background: linear-gradient(#fff, #8FE3CF);
}





.fontstyle_grid {
  --gap: 20px;
  --col_count: 2;
  --row_height: 120px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--col_count), 1fr);
  grid-auto-rows: var(--row_height);
  gap: var(--gap);
}

.fontstyle_grid_element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fontstyle_container {
  padding-left: 10px;
  margin: auto;
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 16px 'Metropolis-Regular', sans-serif;
  overflow: hidden;
  width: 900px;
  background: linear-gradient(#fff, #8FE3CF);
}






/* ELEMENT #11 - 2 COLUMN GRID FOR SERVICES AND ACCOMPANYING IMAGE  */

.services_grid {
  --gap: 30px;
  --col_count: 2;
  --row_height: 500px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--col_count), 1fr);
  grid-auto-rows: var(--row_height);
  gap: var(--gap);
}

.services_grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services_grid_element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Figured out image sizing using Shaping Design tutorial on resizing images in CSS */
.services_image_size {
  height: auto;
  max-width: 100%;
}

.services_text_control {
  font-weight: bold;
  font-size: 14px;
  max-width: 700px;
  padding-bottom: 15px;
  padding-left: 30px;
}



/* ELEMENT #13 - 2 COLUMN GRID nested within the form for Checkout Cart */

.checkout_grid {
  --gap: 0px;
  --col_count: 2;
  --row_height: 120px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--col_count), 1fr);
  grid-auto-rows: var(--row_height);
  gap: var(--gap);
}

.checkout_grid_element {
  width: 100%;
  height: 100%;
}

.checkout_text_control {
  font-weight: bolder;
  font-size: 16px;
  max-width: 100px;
}

.checkout_container {
  padding: 0px;
  margin: auto;
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 16px 'Metropolis-Regular', sans-serif;
  overflow: hidden;
  width: 550px;
  background: linear-gradient(#fff, #8FE3CF);
}
